.main-holder{
    width: 100%;
    direction: rtl;
    height: 8rem;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #bbbbbb;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.src-dst-holder{
    width: 95%;
    margin-top: 1rem;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
}
.src{
    width: 40%;
}
.dst{
    width: 40%;
}
.buy{
    width: 60%;
    direction: ltr;
    margin-left: 5%;
}
.price-time-vehicle-holder{
    display: flex;
    margin-top: 2%;
    margin-right: 2%;
    width: 95%;
    flex-direction: row;
}
.price{
    direction: ltr;
    margin-left: 2%;
    color: var(--main-color);
    width: 40%;
}
.time{
    width: 40%;
}
.vehicle{
    width: 40%;
}