.main-holder{
    width: 100%;
    direction: rtl;
    height: 8rem;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #bbbbbb;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.src-time-holder{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.src-time-holder div{
    margin-bottom: 20px;
}
.dst-vehicle-holder{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dst-vehicle-holder div{
    margin-bottom: 20px;
}
.buy-price-holder{
    margin-top: 20px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buy-price-holder div{
    margin-bottom: 10px;
}
.price{
    color: var(--main-color);
}