:root{
  --text-gray-color : #606060;
  --main-color : #1D91CC;
  --main-color-hover: #6fa3bd;
  --text-white-color : #FFFFFF;
  --line-color : #e3e3e3;
}
body {
  margin: 0;
  font-family: 'Vazirmatn', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
