.Logo-Background{
    margin-top: 20px;
    margin-bottom: -100px;
    width: auto;
    height: 20rem;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(29,145,204,1) 100%);
}
.SearchForm-Container{
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,.05), 7px 7px 5px rgba(0,0,0,.1);
    margin-left: 10%;
    width: 80%;
    height: 12rem;
    background-color: var(--text-white-color);
}
.search-card-holder{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    direction: rtl;
}
.search-card-tag{
    direction: rtl;
    margin-top: 3%;
    margin-right: 2%;
    color: var(--main-color);
    font-weight: 800;
}
@media only screen and (max-width: 1056px) {
    .SearchForm-Container{
        height: 250px;
    }
}
@media only screen and (max-width : 391px) {
    .SearchForm-Container{
        height: 350px;
    }
}