/* PurchaseInformation.css */
.user-form {
  direction: rtl;
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  width: 80%;
  height: auto;
  margin: 20px auto;
}

.form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
  justify-content: center;
}

.form-input {
  margin-top: 3%;
  margin-bottom: 3%;
  border-width: 1px;
  border-color: var(--text-gray-color);
  border-radius: 5px;
  height: 40px;
  font-family: 'Vazirmatn', sans-serif;
  padding-right:10px ;
  margin-right: 10px;
}

.form-input::placeholder {
  font-size: 16px;
  font-family: "Vazirmatn", sans-serif;
  opacity: 0.8;
}

.form-input:focus {
  border-color: #4d90fe;
  outline: none;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.button-group button {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Vazirmatn", sans-serif;
  color: #fff;
  background-color: var(--main-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-group button:hover {
  background-color: var(--main-color-hover);
}

/* Add this to your CSS file or component */
.confirmation-button {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Vazirmatn", sans-serif;
  color: #fff;
  background-color: var(--main-color); /* Change this color if needed */
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px; /* Adjust margin top */
  width: 30%; /* Make the button wider */
  margin: 20px auto; /* Center the button horizontally */
  display: block; /* Ensure the button takes up the full width */
}

.confirmation-button:hover {
  background-color: var(--main-color-hover); /* Change hover color if needed */
}
@media only screen and (max-width : 750px) {
  .form-row{
    flex-direction: column;
  }
}