.ticket-show
{
    margin-top: 15px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    font-size: small;
    color: var(--text-gray-color);
}
.name
{
    margin-right: 50%;
}
.description{
    margin-top: 10px;
    margin-right: 5px;
    font-size: small;
}
.card-top
{
    display: flex;
}
.name-detail-holder
{
    width: 50%;
}
.img-holder
{
    width: 40%;
}
.card-holder
{
    direction: rtl;
    border-radius: 5px;
    padding-right: 3px;
    margin-right: 1%;
    margin-left: 3%;
    margin-top: 40px;
    width: 25%;
    box-shadow: 0 0 5px rgba(0,0,0,.05), 7px 7px 5px rgba(0,0,0,.1);
}
@media only screen and (max-width: 768px) {
    .card-holder{
        width: 100%;
    }
}