
.Button{
    width: calc(10% + 50px);
    height: auto;
    border-radius: 8px;
    vertical-align: middle;
    line-height: 30px;
    background-color: var(--main-color);
    text-align: center;
    color: var(--text-white-color);
}